/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {  
    text-decoration: none;
}

/* Debug */
/* body {
    background-color: blueviolet;
} */

/* COMMON */
/* Utilities */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.just-cont-center {
    justify-content: center;
}

.just-cont-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* Utilities/colors */
.bg-grey{
    background-color: rgb(211, 211, 211);
}

/* Utilities/spacing */
.py-10 {
    padding: 10px 0;
}

.px-10 {
    padding: 0 10px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.dashed {
    border: dashed 2px black;
}

/* HEADER */
header {
    background-color: lightblue;
    height: 60px;
}

nav {
    height: 40px;
    padding: 0 10px;
    background-color: rgb(206, 167, 59);
}

.logo, .login {
    width: 20%;
}

.nav-list {
    width: 60%;
    border-left: dotted 4px black;
    border-right: dotted 4px black;
}

.nav-list ul {
    gap: 10px;
}

.login {
    text-align: end;
}

/* MAIN */
.hero-section{
    background-color: rgb(46, 46, 161);
}

.inner-hero{
    width:900px;
    min-height: 400px;
    background-color: rgb(217, 146, 219);
}

.main-text {
    width:60%;
    min-height: 500px;
    background-color: rgb(81, 134, 231);
}

.main-img {
    width:40%;
    min-height: 500px;
    background-color: rgb(255, 205, 205);
}

.end-page {
    width:100%;
    min-height: 900px;
    background-color: rgb(57, 136, 57);
}

/* FOOTER */
footer {
background-color: rgb(44, 44, 44);
}

/* TOP-FOOTER  */
.top-footer { 
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: solid 2px rgb(211, 211, 211);
}

.footer-content {
    width:70%;
    min-height: 600px;
    background-color: rgb(101, 172, 177);
}

.footer-img {
    width:30%;
    min-height: 600px;
    background-color: rgb(218, 127, 127);
}

.inner-footer-content{
    border: dashed 2px white;
    width: 25%;
}

 /* BOTTOM FOOTER */
.bottom-footer {
    padding-top: 20px;
}

.inner-bottom-footer {
    width: 100%;
    min-height: 60px;
    background-color: rgb(147, 238, 203);
}

.bottom-footer a {
    background-color: rgb(255, 205, 205);
    padding: 4px 8px;
}
